<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test_paper.name %>
</p>

<p>
  <strong>Order:</strong>
  <%= @test_paper.order %>
</p>

<p>
  <button class='btn btn-primary btn-lg'>Begin</button>
</p>

<%= link_to 'Back', test_papers_path %>

<script type="text/javascript">
  var test = new Test({letters: })
</script>
