<p id="notice"><%= notice %></p>

<h1>Listing Tests</h1>

<table>
  <thead>
    <tr>
      <th>correct</th>
      <th>wrong</th>
      <th>time</th>
    </tr>
  </thead>

  <tbody>
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.correct %></td>
        <td><%= test.wrong %></td>
        <td><%= test.time ? test.time/1000 : '-' %> Sec</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
